<html>
	<head>
		<title>Waterborne-env Docfinder</title>
	</head>
	<body>
		<h1>Document Search Tool</h1>
		<form method="GET">
			<input name="search_term_text" id="id_search_term" placeholder="Enter search term(s)" />
			{% csrf_token %}
		</form>

		<table id="id_results_table">
			{% for result in search_results %}
				{% for title in result.title %}
				<tr><td><a href="http://localhost:8983/solr/testcore/select?q=id:{{ result.id }}">{{ title }}</a></td></tr>
				{% endfor %}
			{% endfor %}
		</table>
	</body>
</html>

