{% extends 'base.html' %}
{% block form_action %}
{% url 'search' %}
{% endblock %}

{% block table %}
<!--<table id="id_results_table" class="table">-->
<div id="id_results_div" class="row">
	{% if admin_error %}
		<h1>{{ admin_error }}</h1>
	{% else %}
		<h4>Search Results for "{{ search_terms }}"</h4>		
		{% for result in search_results %}
			{% if forloop.first %}<div class="row">{% endif %}
			<div class="col-md-4">
				<div class="thumbnail">
					<b>Title:</b>
					<p>{{ result.title }}</p>
					<b>Author(s):</b>
					<p>{{ result.author }}</p>
					<b>Year:</b>
					<p>{{ result.year }}</p>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal{{ result.id }}"><span class="glyphicon glyphicon-eye-open">Abstract</span></button>
					<div class="modal fade" id="myModal{{ result.id }}" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Abstract</h4>
								</div>
								<div class="modal-body">
									<p>{{ result.abstract }}</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

					<a class="btn btn-info btn-sm" id="search_result_{{ result.sid }}" href='/search/download/{{ result.sid }}/' role="button"><span class="glyphicon glyphicon-download">Download</span></a>
				</div>
			</div>
			{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
			{% if forloop.last %}</div>{% endif %}
		{% empty %}
			<p>No Documents Found</p>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}
